*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:black;
}

.page{
min-height:100vh;
background:linear-gradient(to bottom,#5d1013,#170000);
color:white;
}

header{
height:90px;
display:flex;
align-items:center;
padding-left:80px;
border-bottom:1px solid rgba(255,255,255,.2);
}

header img{
width:120px;
height: 50px;
background:transparent;
}

.loginBox{
width:450px;
margin:auto;
padding-top:70px;
}

.loginBox h1{
font-size:48px;
margin-bottom:10px;
}

.subtitle{
font-size:22px;
margin-bottom:30px;
color:#ddd;
}

input{
width:100%;
height:55px;
margin-bottom:20px;
background:#201818;
border:1px solid gray;
color:white;
padding-left:15px;
font-size:18px;
border-radius:5px;
}

input:focus{
outline:none;
border:2px solid white;
}

button{
width:100%;
height:55px;
background:#E50914;
border:none;
border-radius:5px;
color:white;
font-size:22px;
font-weight:bold;
cursor:pointer;
}

button:hover{
background:#c11119;
}

.error{
margin-top:20px;
color:yellow;
}

h4{
margin-top:40px;
}

.captcha{
margin-top:30px;
color:gray;
line-height:25px;
}